/********************/
.ui-slider {
    position: relative;
    text-align: left;
    background-color: #222;
    border-color: black #333333 #333333 black;
    border-style: solid;
    border-width: 1px;
    margin: 1px;
	padding: 1px;
    vertical-align: top;
	margin-top: 2px;
	height: 1em;
}

input[type="range"]
{
	-webkit-appearance:none; 
	-moz-apperance:none; 
	apperance:none; 
	width:100%; 
	height:1em;
	opacity: 1.0;
}

input[type="range"]:focus {
	outline:none;
}

.ui-slider .slider-thumb {
	position: absolute;
	top:0;
	left:0;
	pointer-events: none;
	display: inline-block;
	display: none;

    width: 10%;
    height: 1.0em;
	border-radius: 1px;
	margin-top: 1px;

    background: -moz-linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    background: -webkit-linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    background: linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    box-shadow: 0 1px 0 #5B5957 inset, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111111 !important;

	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	/* cursor: e-resize !important; */
}

/* firefox do not allow to style it, so deprecated */
input[type="range"]::slider-thumb {
    width: 1.0em;
    height: 1.0em;
	border-radius: 1px;
    background: linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    box-shadow: 0 1px 0 #5B5957 inset, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111111 !important;
	box-sizing:border-box;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    width: 1.0em;
    height: 1.0em;
	border-radius: 1px;
	/*margin-top: 0.5em;*/

    background: -moz-linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    background: -webkit-linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    background: linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    box-shadow: 0 1px 0 #5B5957 inset, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111111 !important;

	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
}

input[type="range"]::-moz-slider-thumb {
    width: 1.0em;
    height: 1.0em;
	border-radius: 1px;
    background: -moz-linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    background: linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    box-shadow: 0 1px 0 #5B5957 inset, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111111 !important;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
}
/**/


.slider {
    /*calc( width: 100% - 30px );*/
}

.slider-container {
    margin-left: 5px;
    /*margin-right: 5px;*/
}

.colorpicker-window {
	position: absolute;
	top: 50px;
	left: 10px;
	background-color: #333;
	padding: 2px;
	font-size: 0.8em;
	color: #aaa;
}

.colorpicker-window input {
	border: 0;
}

.searchbox {
    padding: 2px;
    opacity: 0.5;
    transition: all 0.5s;
    width: 100%;
}

.searchbox input {
    padding: 2px 4px;
    outline: 0;
    width: 100%;
}

.searchbox input:focus
{
    outline: 0;
}

.searchbox:hover {
    opacity: 1;
}


.litecheckbox {

	width: 1em;
	height: 1em;
	display: inline-block;
	vertical-align: top;
	background-color: #1f1f1f;
	border: 0;
	border-radius: 2px;
	margin: 0 4px;
	margin-top: 2px;
	text-align: center;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;

	cursor: pointer;
}

.litecheckbox .on {
	background-color: #5AF;
	color: black;
}

.litecheckbox .flag {
	display: block;
	width: 100%;
	height: 100%;
	border: 2px solid black;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
}