/********************/
.ui-slider {
    position: relative;
    text-align: left;
    background-color: #222;
    border-color: black #333333 #333333 black;
    border-style: solid;
    border-width: 1px;
    margin: 1px;
	padding: 1px;
    vertical-align: top;
	margin-top: 2px;
	height: 1em;
}

input[type="range"]
{
	-webkit-appearance:none; 
	-moz-apperance:none; 
	apperance:none; 
	width:100%; 
	height:1em;
	opacity: 1.0;
}

input[type="range"]:focus {
	outline:none;
}

.ui-slider .slider-thumb {
	position: absolute;
	top:0;
	left:0;
	pointer-events: none;
	display: inline-block;
	display: none;

    width: 10%;
    height: 1.0em;
	border-radius: 1px;
	margin-top: 1px;

    background: -moz-linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    background: -webkit-linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    background: linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    box-shadow: 0 1px 0 #5B5957 inset, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111111 !important;

	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	/* cursor: e-resize !important; */
}

/* firefox do not allow to style it, so deprecated */
input[type="range"]::slider-thumb {
    width: 1.0em;
    height: 1.0em;
	border-radius: 1px;
    background: linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    box-shadow: 0 1px 0 #5B5957 inset, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111111 !important;
	box-sizing:border-box;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    width: 1.0em;
    height: 1.0em;
	border-radius: 1px;
	/*margin-top: 0.5em;*/

    background: -moz-linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    background: -webkit-linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    background: linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    box-shadow: 0 1px 0 #5B5957 inset, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111111 !important;

	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
}

input[type="range"]::-moz-slider-thumb {
    width: 1.0em;
    height: 1.0em;
	border-radius: 1px;
    background: -moz-linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    background: linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    box-shadow: 0 1px 0 #5B5957 inset, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111111 !important;
	box-sizing:border-box;
	-moz-box-sizing:border-box; 
}
/**/


/*

.ui-slider .ui-slider-handle {
    width: 0.3em;
    height: 1.0em;
    position: absolute;
    background: -moz-linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    background: -webkit-linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    background: linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    box-shadow: 0 1px 0 #5B5957 inset, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111111 !important;

	box-sizing:border-box;
	-moz-box-sizing:border-box; 
	-webkit-box-sizing:border-box; 
	cursor: e-resize !important;
}

.ui-slider .ui-slider-range {
    background-position: 0 0;
    border: 0 none;
    display: block;
    font-size: 0.7em;
    position: absolute;
    z-index: 1;
	margin-right: 10px !important;
}
*/

/*
.ui-slider {
    position: relative;
    text-align: left;
    background-color: black;
    border-color: black #333333 #333333 black;
    border-style: solid;
    border-width: 1px;
    height: 0;
    margin: 8px 0 0;
    vertical-align: top;
}
.ui-slider .ui-slider-handle {
    cursor: default;
    height: 1.2em;
    position: absolute;
    width: 1.2em;
    z-index: 2; 
    background: -moz-linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    background: -webkit-linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    background: linear-gradient(#4B4947, #32302D) repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    border-radius: 7px 7px 7px 7px !important;
    box-shadow: 0 1px 0 #5B5957 inset, 0 -1px 0 black, 0 1px 0 black, -1px 0 0 black, 1px 0 0 black, 0 1px 1px #111111 !important;
    cursor: default !important;
    height: 12px !important;
    margin: -6px !important;
    position: absolute !important;
    top: 0 !important;
    width: 12px !important;
}

.ui-slider .ui-slider-range {
    background-position: 0 0;
    border: 0 none;
    display: block;
    font-size: 0.7em;
    position: absolute;
    z-index: 1;
}
*/


.slider {
    /*calc( width: 100% - 30px );*/
}

.slider-container {
    margin-left: 5px;
    margin-right: 5px;
}

.colorpicker-window {
	position: absolute;
	top: 50px;
	left: 10px;
	background-color: #333;
	padding: 2px;
	font-size: 0.8em;
	color: #aaa;
}

.colorpicker-window input {
	border: 0;
}

.searchbox {
    padding: 2px;
    opacity: 0.5;
    transition: all 0.5s;
    width: 100%;
}

.searchbox input {
    padding: 2px 4px;
    outline: 0;
    width: 100%;
}

.searchbox input:focus
{
    outline: 0;
}

.searchbox:hover {
    opacity: 1;
}
